<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/index_css.css">
    <script src="../static/scripts/index_script.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">CipherShield</a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('upload', users=users) }}">Upload</a></li>
            <li><a href="{{ url_for('metrics') }}">Metrics</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <div class="content">
        <h2>Welcome, {{ session['username'] }}</h2>

        <div class="video-list">
            <h3>List of Videos Uploaded :</h3>
            {% if videos %}
                <ul>
                    {% for video in videos %}
                        <li class="video-item" data-video-url="{{ url_for('watch', video_id=video[0]) }}">
                            <span class="video-title">{{ loop.index }}. Video Title: "{{ video[1] }}" </span>
                            <p>Description: {{ video[2] }}</p>
                            <p>Uploaded File: {{ video[3] }}</p>
                            <button class="decrypt-play-btn" onclick="location.href='{{ url_for('watch', video_id=video[0]) }}'">
                        Decrypt and Play
                    </button>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No videos found</p>
            {% endif %}
        </div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        <!-- Mini Video Player -->
      <!-- Updated with streaming URL -->
<div id="mini-player" class="mini-player hidden">
    <video id="video-player" controls>
        <source id="video-source" src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

    </div>
</body>
</html>
